name: "Units (GNU)"
scopeName: "source.units.gnu"
fileTypes: ["units", "units.dat"]
patterns: [include: "#main"]

repository:
	main:
		patterns: [
			{include: "#comment"}
			{include: "#prefix"}
			{include: "#unit"}
		]


	# Comment
	comment:
		name:  "comment.line.number-sign.units.gnu"
		begin: "#"
		end:   "$"
		beginCaptures:
			0: name: "punctuation.definition.comment.units.gnu"


	# Float or integer
	number:
		name:  "constant.numeric.units.gnu"
		match: "[-+]?[.,0-9]+(?:[-+]?[Ee][.,0-9]+)?"

	
	# Mathematical operators
	operators:
		patterns: [
			{match: "/|\\|",      name: "keyword.operator.arithmetic.division.units.gnu"}
			{match: "\\^|\\*{2}", name: "keyword.operator.arithmetic.exponentiation.units.gnu"}
			{match: "\\*",        name: "keyword.operator.arithmetic.multiplication.units.gnu"}
			{match: "\\+",        name: "keyword.operator.arithmetic.addition.units.gnu"}
			
			# gunits(1) v2.02+ treats certain “Unicode dashes” as equivalent to ASCII hyphen-minus
			name: "keyword.operator.arithmetic.subtraction.minus.dash.hyphen.units.gnu"
			match: "-|\\u2012|\\u2013|\\u2212"
		]


	# Prefix definition
	prefix:
		name:  "meta.prefix.definition.units.gnu"
		begin: """(?x) ^\\s*
			# Valid unit name (source: `parse.y`)
			(?![.,_\\#])
			([^-~;+*/|\\t\\n^\\x20()]+)
			(?<![.,_])
			
			# Dash indicating a prefix
			( \\u2012  # Figure dash
			| \\u2013  # En dash
			| \\u2212  # Minus
			| -        # ASCII “hyphen-minus”
			)
			
			# Followed by whitespace
			(?=\\s|$)
		"""
		end: "$"
		beginCaptures:
			1: name: "entity.name.prefix.units.gnu"
			2: name: "punctuation.definition.prefix.units.gnu"
		patterns: [include: "#rhs"]
	
	
	# Reference to another unit
	reference:
		name: "variable.other.constant.unit.reference.units.gnu"
		match: "(?![.,_#])([^-~;+*/|\\t\\n^\\x20()]+)(?<![.,_])"
	
	
	# Actual definition following a unit or prefix name
	rhs:
		patterns: [
			{include: "#number"}
			{include: "#comment"}
			{include: "#operators"}
			{include: "#reference"}
		]


	# Unit definition
	unit:
		name:  "meta.unit.definition.units.gnu"
		begin: "^\\s*(?![.,_#])([^-~;+*/|\\t\\n^ ()]+)(?<![.,_])(?=\\s|$)"
		end:   "$"
		beginCaptures:
			1: name: "entity.name.unit.units.gnu"
		patterns: [include: "#rhs"]
